---
name: AzureLoginWithOpenIDConnect

on:
  push: 
    paths:
      - filez

permissions:
      id-token: write
      contents: read
      
jobs: 
  run-login-test:
    runs-on: ubuntu-latest
    steps:
    - name: 'Az CLI login'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
  
    - name: 'Run Azure CLI commands'
      run: |
          az account show
          az group list
          pwd

    - name: Get current production
      run: |
          az extension add -n spring -y
